@charset "UTF-8";
body {
  margin: 0; }
  body a {
    text-decoration: none; }
  body a:hover {
    text-decoration: none; }

header {
  width: 100%;
  height: 40px;
  background-color: #29bde0;
  position: fixed;
  top: 0;
  z-index: 99;
  text-align: center;
  position: relative; }
  header .btn-left {
    float: left;
    height: 20px;
    width: 13px;
    background-image: url(../img/设置页面_06.png);
    margin-right: -21px;
    margin-top: 10px;
    margin-left: 8px; }
  header h1 {
    font-size: 18px;
    line-height: 40px;
    margin: 0;
    color: #fff;
    font-weight: normal;
    display: inline-block; }
  header .btn-right {
    float: right;
    height: 23px;
    width: 23px;
    background-image: url(../img/设置页面_03.png);
    margin-top: 9px;
    margin-right: 10px;
    margin-left: -33px; }

main {
  padding-left: 2.5%;
  padding-right: 2.5%;
  background-color: #f0f0f0;
  padding-top: 20px;
  padding-bottom: 10px; }
  main .player-match {
    background-color: #fff;
    display: flex;
    display: -webkit-flex; }
    main .player-match .item1 {
      flex-grow: 2;
      text-align: center;
      font-size: 20px;
      font-weight: bold;
      align-self: center; }
    main .player-match .item2 {
      flex-grow: 8;
      background-color: #fbfbfb;
      display: flex;
      flex-wrap: wrap;
      position: relative;
      padding-bottom: 30px; }
      main .player-match .item2 .player {
        flex-grow: 1;
        text-align: center; }
        main .player-match .item2 .player ul {
          color: #a1a1a1;
          font-size: 16px;
          list-style: none;
          margin-top: 20px;
          margin-bottom: 0;
          padding: 0; }
          main .player-match .item2 .player ul li {
            margin-bottom: 20px; }
            main .player-match .item2 .player ul li div {
              width: 10px;
              height: 10px;
              display: inline-block;
              margin-right: 10px; }
            main .player-match .item2 .player ul li .yellow {
              background-color: #fbb435; }
            main .player-match .item2 .player ul li .blue {
              background-color: #29bde0; }
            main .player-match .item2 .player ul li #number {
              margin-left: 10px;
              margin-right: 10px; }
    main .player-match a {
      text-decoration: none;
      color: #29bde0;
      display: inline-block;
      position: absolute;
      bottom: 5px;
      left: 50%;
      margin-left: -35px; }
      main .player-match a span {
        display: inline-block;
        width: 7px;
        height: 7px;
        background-image: url(../img/设置页面_11.png);
        margin-left: 10px; }
    @media (max-width: 450px) {
      main .player-match .item2 {
        display: inline-block;
        text-align: center; } }
  main .words {
    margin-top: 10px;
    background-color: #fff;
    text-align: center;
    padding-bottom: 15px; }
    main .words .words1 {
      width: 90%;
      height: 70px;
      line-height: 70px;
      color: #f0f0f0;
      font-size: 20px;
      border-bottom: 2px solid #f0f0f0;
      text-align: left;
      margin: auto;
      margin-bottom: 10px; }
  main .player-number {
    background-color: #fff;
    margin-top: 10px;
    padding: 20px 5% 30px 5%;
    position: relative; }
    main .player-number .player {
      color: #444444;
      font-size: 20px;
      margin-bottom: 30px; }
      main .player-number .player #num {
        -webkit-appearance: none;
        -moz-appearance: none;
        outline: none;
        border: 0;
        padding: 0;
        width: 2em;
        text-align: center;
        background-color: #fbfbfb;
        color: #fbb435;
        margin-left: 10px;
        margin-right: 10px; }
      main .player-number .player #num::-webkit-input-placeholder {
        color: #fbb435; }
    main .player-number .scoller {
      position: relative;
      text-align: center; }
      main .player-number .scoller button {
        appearance: none;
        background-color: #fff;
        width: 28px;
        height: 28px;
        display: inline-block;
        border: 2px solid #f0f0f0;
        position: absolute;
        text-align: center;
        vertical-align: middle;
        font-size: 25px;
        font-weight: bold;
        color: #fbb435; }
      main .player-number .scoller button:focus {
        outline: none; }
      main .player-number .scoller .mins {
        left: 2%;
        line-height: 23px; }
      main .player-number .scoller .plus {
        line-height: 25px;
        right: 2%; }
      main .player-number .scoller div {
        width: 70%;
        display: inline-block; }
        main .player-number .scoller div .line-bottom {
          height: 2px;
          width: 100%;
          background-color: #fbb435;
          float: left; }
        main .player-number .scoller div .button {
          position: absolute;
          width: 60px;
          height: 36px;
          border-radius: 5px;
          border: 2px solid #fbb435;
          color: #fbb435;
          font-size: 20px;
          font-weight: bold;
          background-color: #fff;
          top: -5px;
          left: 50%;
          z-index: 999;
          margin-left: -30px; }
        main .player-number .scoller div .line-top {
          height: 2px;
          width: 35%;
          background-color: #ffe6be;
          position: absolute;
          left: 50%; }
    main .player-number .placehold {
      height: 28px; }
  main .push {
    height: 88px; }

footer {
  padding-left: 2.5%;
  padding-right: 2.5%;
  background-color: #f0f0f0;
  margin-top: -88px;
  padding-bottom: 10px; }
  footer .deal {
    display: block;
    width: 100%;
    height: 88px;
    background-color: #fbb435;
    color: #fff;
    text-align: center;
    line-height: 88px;
    font-size: 20px; }

/*# sourceMappingURL=playermatch.css.map */
