$blue:#29bde0;
$gray:#f0f0f0;
$lightgray:#fbfbfb;
$orange:#fbb435;
$border:#c9c9c9;
body{
    margin: 0;
    a{
        text-decoration: none;
    }
    a:hover{
        text-decoration: none;
    }
}
header{
    width: 100%;
    height: 40px;
    background-color: $blue;
    position: fixed;
    top: 0;
    z-index: 99;
    text-align: center;
    position: relative;
    .btn-left{
        float: left;
        height: 20px;
        width: 13px;
        background-image: url(../img/设置页面_06.png);
        margin-right: -21px;
        margin-top: 10px;
        margin-left: 8px;
    }
    h1{
        font-size: 18px;
        line-height: 40px;
        margin: 0;
        color: #fff;
        font-weight: normal;
        display: inline-block;
    }
    .btn-right{
        float: right;
        height: 23px;
        width: 23px;
        background-image: url(../img/设置页面_03.png);
        margin-top: 9px;
        margin-right: 10px;
        margin-left: -33px;
    }
}
main{
    padding-left: 2.5%;
    padding-right: 2.5%;
    background-color: $gray;
    padding-top: 20px;
    padding-bottom: 10px;
    .player-match{
        background-color: #fff;
        display: flex;
        display: -webkit-flex;
        .item1{
            flex-grow: 2;
            text-align: center;
            font-size: 20px;
            font-weight: bold;
            align-self: center;
        }
        .item2{
            flex-grow: 8;
            background-color: $lightgray;
            display: flex;
            flex-wrap: wrap;
            position: relative;
            padding-bottom: 30px;
            .player{
                flex-grow: 1;
                text-align: center;
                ul{
                   color: #a1a1a1; 
                   font-size: 16px;
                   list-style: none;
                   margin-top: 20px;
                   margin-bottom: 0;
                   padding: 0;
                   li{
                       margin-bottom: 20px;
                        div{
                            width: 10px;
                            height: 10px;
                            display: inline-block;
                            margin-right: 10px;
                        }
                        .yellow{
                            background-color: #fbb435;
                        }
                        .blue{
                            background-color: #29bde0;
                        }
                        .number{
                            -webkit-appearance: none;
                            -moz-appearance: none;
                            outline: none;
                            border: 0;
                            padding: 0;
                            margin-left: 10px;
                            margin-right: 10px;
                            width: 20px;
                            background-color: #fbfbfb;
                        }
                    }
                }
            }
        }   
        a{
            text-decoration: none;
            color: #29bde0;
            display: inline-block;
            position: absolute;
            bottom: 5px;
            left: 50%;
            margin-left: -35px;
            span{
                display: inline-block;
                width: 7px;
                height: 7px;
                background-image: url(../img/设置页面_11.png);
                margin-left: 10px;
            }
        }         
        @media(max-width:450px){
            .item2{
                display:inline-block;
                text-align: center;
            }
        }
    } 
    .words{
        margin-top: 10px;
        background-color: #fff;
        text-align: center;
        padding-bottom: 15px;
        .words1{
            width: 90%;
            height: 70px;
            line-height: 70px;
            color: $gray;
            font-size: 20px;
            border-bottom: 2px solid $gray;
            text-align: left;
            margin: auto;
            margin-bottom: 10px;
        }
    }  
    .player-number{
        background-color: #fff;
        margin-top: 10px;
        padding: 20px 5% 30px 5%;
        position: relative;
        .player{
            color: #444444;
            font-size: 20px;
            margin-bottom: 30px;
            #num{
                -webkit-appearance: none;
                -moz-appearance: none;
                outline: none;
                border: 0;
                padding: 0;
                width: 2em;
                text-align: center;
                background-color: $lightgray;
                color: #fbb435;
                margin-left: 10px;
                margin-right: 10px;
            }
        }
        .scoller{
            position: relative;
            text-align: center;
            button{
                appearance: none;
                background-color: #fff;
                width: 28px;
                height: 28px;  
                display: inline-block;
                border: 2px solid $gray;
                position: absolute;
                text-align: center;
                vertical-align: middle;
                font-size: 25px;        
                font-weight: bold;
                color: #fbb435; 
            }
            button:focus{
                outline: none;
            }
            #mins{
                left: 2%;
                line-height: 23px;
            }
            #plus{
                line-height: 25px;
                right: 2%;
            }
            #slideblock{
                width: 75%;
                display: inline-block;
                margin-top: 5px;
                -webkit-appearance: none;

            }                
            input[type = "range"]::-webkit-slider-thumb{
                -webkit-appearance: none;
                width: 60px;
                height: 35px;
                border: 3px solid #fbb435;
                border-radius: 5px;
                margin-top: -17.5px;
                background-image: url(../img/btn_03.png);
                background-repeat: no-repeat;
                background-position: center center;
                background-color: #fff;
            }
            input[type = "range"]::-webkit-slider-runnable-track{
                height: 2px;
                background-color: #ffe6be;
            }
        }
        .placehold{
            height: 28px;
        }
    }
    .push{
        height: 88px;
    }
}
footer{
    padding-left: 2.5%;
    padding-right: 2.5%;
    background-color: $gray;
    margin-top: -88px;
    padding-bottom: 10px;
    .deal{
        display: block;
        width: 100%;
        height: 88px;
        background-color: #fbb435;
        color: #fff;
        text-align: center;
        line-height: 88px;
        font-size: 20px;
    }
}